<html>
    <head>
        <title>NES Model API</title>
    </head>
    <body>
        <h1>You've created a model!</h1>
        {% for result in results %}
        <h2>This is a {{ result.testType|safe }} test</h2>
        The accuracy of this test was {{ result.accuracy|safe }}%<br>
        <h3>These sequences were incorrectly predicted as functional NESs:</h3>
        {{ result.falsePos|safe }}<br>
        <h3>These sequences were incorrectly predicted as not being functional NESs:</h3>
        {{ result.falseNeg|safe }}<br>
        <h3>These sequences were correctly predicted as functional NESs:</h3>
        {{ result.truePos|safe }}<br>
        <h3>These sequences were correctly not predicted as functional NESs:</h3>
        {{ result.trueNeg|safe }}<br>
        {% endfor %}
    </body>
</html>